@page
@model LoginModel

<h2>Đăng nhập</h2>

<form method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>

    <br />

    <div>
        <label>Mật khẩu</label>
        <input asp-for="Password" type="password" />
    </div>

    <br />

    <button type="submit">
        Đăng nhập
    </button>

</form>

<div asp-validation-summary="All"></div>